pandas
numpy
scipy
statsmodels
scikit-learn
plotly
altair
matplotlib
seaborn
pymongo
sqlalchemy
yfinance
requests
feedparser
nltk
folium
streamlit-folium
openpyxl
xlsxwriter
reportlab
python-pptx
streamlit
pingouin
python-dotenv
pillow